:root
{
  --yellow: #09a672;
    --orange : #09a672;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: #09a672;
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
html{
  scroll-behavior: smooth;
}
.App{
    padding: 0.3rem 2rem;
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #09a672 26.71%, #4d8f48 99.36%);
    /* box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42); */
    /* border-radius: 34px; */
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid #09a672;
    color: #09a672;
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.3rem 1rem;

    }
  }
